// Navigation Highlights
.active-Link {
    color: #3f51b5;
    font-weight: bold !important;
    border: none;
}

// Toolbar customization

.home-link {
    color: aliceblue;
}

.mat-icon {
    color: aliceblue;
}